apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: openshift-pipelines
  namespace: openshift-operators 
spec:
  channel: {{ op_channel }}
  name: openshift-pipelines-operator
  source: community-operators 
  sourceNamespace: openshift-marketplace
